{% extends 'main/base.html' %}
{% load static %}


{% block content %}
    <div class="img-cente"><img src="{% static 'main/img/baiden.jpg' %}"></div>
    <div class="content-title">Байден подписал указ о скачкообразном увеличении цен на продукты в России</div>
    <p class="p-text-content">
Президент США Джо Байден подписал документ, регулирующий цены на основные продукты питания в России. В Белом доме решили использовать политику ценообразования как новый инструмент санкционного давления.
<p class="p-text-content">
Ответственным за исполнение нового указа назначено министерство финансов. Ведомство будет осуществлять мониторинг и контроль цен на продукты в России. По приказу из Вашингтона все российские торговые сети и индивидуальные предприниматели обязаны регулярно повышать цены на определенный фиксированный процент, определяемый Минфином США. Ставку удорожания будут определять эксперты американского экономического ведомства, исходя из действий России во внешней политике.</p>

<p class="p-text-content">
«Вся экономика русских строится на углеводах. Стоит только взвинтить цены, как мы получим ситуацию, схожую с той, что была в России 90-х. Москва очень боится этого. Путин боится и постоянно пугает этим своих сограждан. Тогда русские сильно зависели от нашей гуманитарной помощи. Мы им помогли и они выжили, но в этот раз все будет иначе. Поставки еды будут осуществляться в обмен на золотовалютные резервы. Русские дорого заплатят за свои злодеяния», — заявил Байден.</p>
<p class="p-text-content">
В ближайшее время Минфин США разошлет директиву о новых ценах на продукты официальным представителям «Магнита», «Пятерочки», «Ашана» и других торговых сетей. Понижение цены или ее заморозка повлечет за собой наложение санкций на ретейлеров и запрет их деятельности на территории США.
    </p>
<br>
<br>
    <div class="img-cente"><img src="{% static 'main/img/news2.jpg' %}"></div>
    <div class="content-title">Верховный суд США разрешил избираться в Конгресс гражданам с отрицательным IQ</div>
    <p class="p-text-content">

<p class="p-text-content">
При рассмотрении дела судья опирался на требования федеральных законов, где отсутствуют требования к интеллектуальному уровню выдвиженцев на выборах всех уровней. Также в решении было отмечено, что показатель IQ не измерялся у большинства сенаторов, а его значение никак не сказывается на работе парламентариев.</p>

<p class="p-text-content">
Кенворду выплатят 25 тысяч долларов залога, внесённых в ходе регистрации. Также, согласно решению Верховного суда, избирательную комиссию Кентукки обяжут зарегистрировать его на следующих выборах в Конгресс. </p>
<br>
<br>
    <div class="img-cente"><img src="{% static 'main/img/news3.jpg' %}"></div>
    <div class="content-title">В связи с тяжёлой экономической ситуацией Мишустин попросил россиян уменьшить диаметр блинов</div>
    <p class="p-text-content">

<p class="p-text-content">
«Продовольственная» инфляция в России с начала года ускорилась вчетверо. В среднем трижды в неделю магазины переписывают ценники на основные продукты питания. Ситуацию усугубила приближающаяся Масленица. Россияне пекут блины, увеличивая спрос на яйца, муку, молоко и сахар. Это не может не сказываться на ценах.</p>

<p class="p-text-content">
«Два десятка блинов требуют двух яиц, литра молока, стакана муки. В текущей обстановке это очень расточительно. Надо как-то экономить. Давайте попробуем сэкономить за счёт диаметра блина. Согласитесь, маленький блин ничем не хуже большого. Он такой же вкусный, такой же радостный. А лишние калории нам всем ни к чему», - сказал премьер-министр. </p>
<p class="p-text-content">
В подтверждение своих слов Мишустин привёл расчёты специалистов. Диаметр стандартной блинной сковороды – 25 сантиметров. Использование более компактной сковороды, например, 15-сантиметровой сковороды для панкейков, позволяет уменьшить площадь блина. Обычный блин имеет площадь 490 квадратных сантиметров, а 15-сантиметровый– всего 176. Расход продуктов почти в три раза меньше при той же толщине. </p>
<p class="p-text-content">
«России сегодня тяжело. Нам всем нужно затянуть пояса и тогда мы, безусловно, с честью выйдем из этого испытания», - завершил премьер своё поздравление.</p><p class="p-text-content">
Столовые Госдумы и Совета Федерации уже последовали просьбе премьер-министра. С сегодняшнего дня там будут подавать только 15-сантиметровые блины.</p>
{% endblock %}

